:root {
    --scrollbar-track-color: #222; /* Dark background color for scrollbar track */
    --scrollbar-thumb-color: #444; /* Color of the scrollbar thumb */
}

/* Webkit/Blink */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px; /* Border radius of the scrollbar thumb */
}

/* Firefox */
::-moz-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-moz-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.btn {
    @apply py-3 px-6 rounded-full bg-gray-500 text-black text-xl hover:bg-black ;
}
/* Pagination ---------------------------------------------------------------*/
/* Add these styles to your CSS file or component */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: inline-block;
    padding: 10px 15px;
    border: 0px ;
    border-radius: 25px;
    color: #060606;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    background-color: #6B7280;
}

.pagination li a:hover {
    background-color: #3749E9;
    color: #ffffff;
    border: 0px;
}


/* Adjustments to make the suggestions list look like part of the input */
.suggestions-list {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #374151;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #191820;
    max-height: 200px;
    overflow-y: auto;
    width: calc(100% - 2px);
    z-index: 999;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #4a4f5891;
}


/* Styles for the search bar and button when suggestion list is visible */
#form-with-suggestions {
    border-top-left-radius: 1.55rem;
    border-bottom-left-radius: 0.25rem;}

.btn-with-suggestions {
    border-top-right-radius: 1.55rem;
    border-bottom-right-radius: 0.25rem; /* Adjust border radius for the bottom corners */
}
  
  
  
  